:root{
    --primary-color:#233dff; 
    --secondary-color:#6c7a89;
    --font-color:#6c7a89;
    --bg-color:white;
  }

.accent{color:var(--primary-color)}
#header{
    background-color: var(--bg-color);
    border:;
    height:80vh;
    padding-top:20vh;
    border-left:0;
    border-top:0;
    border-right:0;
    color:var(--font-color)
}
#header h3, #header h2{
    padding-bottom:1.5em;
}
@media print, screen and (min-width: 60em){
    #header h3, #header h2, #header h5{
      padding-right:30vw;
    }
  }
#blog-container{
    padding-top:3em;
    padding-bottom:3em;
}

/* 39.9375em */
@media print, screen and (max-width: 60em) {
    #blog-container{
        /*
      padding:0;
      margin-left:1em;
      background-color: red;
      */
    }

  }
  

.blog-post{
    margin-top:1em;
    margin-bottom: 1em;
    padding: 20px 20px 20px 0px;
    border-radius:5px;
    transition: all ease .7s;
}
.blog-post:hover{
    background-color: ;
}
.blog-post a{
    color:var(--primary-color);
    transition: all ease .7s;
}
.blog-post a:hover{opacity:.8}
.blog-post img{
  padding-bottom: 1em;
}

.tag-cloud .tag-cloud-individual-tag {
    display: inline-block;
    padding: 0.33333rem 0.5rem;
    border-radius: 0;
    border: 1.5px solid var(--primary-color);
    font-size: 0.8rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    border-radius: 3px;
    background: ;
    display: inline-block;
    color: var(--primary-color);
    margin: 2px;
  }

#footer{
    background-color: var(--bg-color);
    border-left:0;
    border-bottom:0;
    border-right:0;
    padding-top:4em;
    padding-bottom:1em;
    color:var(--font-color);
    text-align: center;
  }
#footer ul{
    list-style-type: none;
    padding:0;
    margin:0;
  }
#footer li{
    display: inline-block;
    padding-left:0;
    padding-right:1em;
}

#header2{
    background-color: var(--bg-color);
    border:0;
    border-left:0;
    border-top:0;
    border-right:0;    
}

#read-container{
    padding-bottom: 3em;;
}

#read-container h3, #read-container figure, #read-container p{
    padding-bottom:1em;
}